* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f8f8f8;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #146d9c;
}

/* Nav CSS */

.navbar {
    background: #8080d0;
    padding: 20px;
}

.navbar .logo a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 41px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar .main-menu ul li {
    margin-left: 20px;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: yellowgreen;
}

/* Hamburger Button */

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #8080d0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
    list-style: none;
}

.mobile-menu ul li {
    margin: 10px;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/* Hero section */

.hero .container {
    display: flex;
    padding: 30px;
    margin: 0 auto;
}

.hero-text {
    width: 100%;
    padding: 20px;
    
}

.hero-para {
    width: 80%;
}

.image {
    border-radius: 50px;
    width: 600px;
    height: 500px;
    padding: 30px;
}


/* Social */

.social {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #146d9c;
    font-style: normal;
    text-decoration: none;
}

/* Who We help */

.who .container {
    background: #84888a;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.who-title {
    display: flex;
    justify-content: center;
    color: #fff;
}

/* The Process */

.process .container{
    background: #84888a;
    padding: 10px;
    margin-top: 30px;
    border-radius: 30px;
}

.process-title {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: -50px;
    
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #2f4139; /* The color you provided */
    border-radius: 50%; /* This makes the element a circle */
    margin: 0 50px; /* Space between circles */
    color: #fff;
    font-size: 38px;
}

.summary {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #fff;
}

.summary p {
    margin: 0 80px;
}


/* Media Querey for mobile navbar */

@media (max-width: 775px) {
    .navbar .main-menu {
        display: none;
    }
    .navbar .hamburger-button {
        display: block;
    }
}

@media (max-width: 800px) {
    .hero-image {
        display: none;
    }
    .hero-text {
        width: 80%;
    }
}
